body {
    font-family: Arial, sans-serif;
    background-color: #FFE4E1; 
    color: #000000;  
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #71e8e8;
    color: #000000; 
    text-align: center;
    width: 60%;                  
    margin: 30px auto;            
    padding: 20px;                
    border: 2px solid #008B8B;     
    border-radius: 12px;  
  }
  
  #perfil h2 {
    text-align: center;
  }

  section {
    padding: 0 30px;
  }

  img {
    width: 200px;
    height: 200%;
    display: block;
    margin: 0 auto;
  }

 

  footer {
    background-color: #005f73;
    color: white;
    text-align: center;
    width: 100vw;
    padding: 10px;
    
  }